@import "tailwindcss";

/* ------------------------------
   VAGUE COLORSCHEME
------------------------------ */
:root {
  --bg: #141415;
  --fg: #cdcdcd;

  --black: #252530;
  --red: #d8647e;
  --green: #7fa563;
  --yellow: #f3be7c;
  --blue: #6e94b2;
  --magenta: #bb9dbd;
  --cyan: #aeaed1;
  --white: #cdcdcd;
}

/* ------------------------------
   TAILWIND THEME BINDINGS
------------------------------ */
@theme inline {
  /* Colors */
  --color-bg: var(--bg);
  --color-fg: var(--fg);
  --color-black: var(--black);
  --color-red: var(--red);
  --color-green: var(--green);
  --color-yellow: var(--yellow);
  --color-blue: var(--blue);
  --color-magenta: var(--magenta);
  --color-cyan: var(--cyan);
  --color-white: var(--white);

  /* Fonts */
  --font-sans: var(--font-space-mono), monospace;
  --font-grotesk: var(--font-space-grotesk), sans-serif;
}

/* ------------------------------
   BASE STYLES
------------------------------ */

/* hide scrollbars */
* {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

*::-webkit-scrollbar {
  display: none;
}
